In [1]:
import numpy as np
import pandas as pd

In [5]:
lst=['a','b','c','d','e']
lst=np.array(lst)
pd.Series(lst)

0    a
1    b
2    c
3    d
4    e
dtype: object

In [11]:
lst2=['dhoni','kohli','williamson','ruturaj','rohit']
data=pd.Series(data=lst2,index=lst)
pd.Series(data)

a         dhoni
b         kohli
c    williamson
d       ruturaj
e         rohit
dtype: object

# data frame

In [14]:
import pandas as pd

data = {
  "calories": [420, 380, 390],
  "duration": [50, 40, 45]
}

#load data into a DataFrame object:
df = pd.DataFrame(data)

print(df)

   calories  duration
0       420        50
1       380        40
2       390        45

In [15]:
print(df.loc[[0, 1]])

   calories  duration
0       420        50
1       380        40

In [17]:
import pandas as pd

data = {
  "calories": [420, 380, 390],
  "duration": [50, 40, 45]
}

df = pd.DataFrame(data, index = ["day1", "day2", "day3"])

print(df)

      calories  duration
day1       420        50
day2       380        40
day3       390        45